<html>
	<head>
	<title>{{title}}</title>
	</head>
	<body>
		<h5>
		<h2>Time the person was connected to wifi</h2>
		<table border="1">
		<tr>
		<td>Name</td><td>MAC Address</td><td>Time (in mins )</td><td>Last Seen At</td></tr>
		{% for user in connected_devices %}
		<tr><td>{{ user.Name }}</td><td>{{ user.MAC_Address }}</td><td>{{user.Time}}</td><td>{{user.LastSeen}}</td></tr>
		{% endfor %}
		</table>
		
		<br />
		<br />
		<br />
		
		<h2>Online Devices</h2>
		<table border="1">
		<tr>
		<td>Name</td><td>MAC Address</td></tr>
		{% for user in online_devices %}
		<tr><td>{{ user.Name }}</td><td>{{ user.MAC_Address }}</td></tr>
		{% endfor %}
		</table>

		<br />
		<br />
		<br />
		
		<h2>Fill in the names for unknown MAC Address</h2>
		<form action="/filldata" method="post">
		    Name:  <input type="text" name="username" /><br /><br />
		    MAC Address: 
		    <select name="mac_address">
		    	{% for user in devices_without_name %}
					<option >{{ user.MAC_Address }}</option>
				{% endfor %}
		    </select><br/><br />
		    <input type="submit" value="SUBMIT" />
		</form>

		

		</h5>
	</body>

</html>